.screen {
  display: flex;
  width: 1440px;
  height: 1024px;
  align-items: center;
  justify-content: center;
  gap: 73px;
  padding: 79px 88px;
  position: relative;
  background-color: #b9cbb6;
  border: 10px solid;
  border-color: #000000;
}

.screen .overlap-wrapper {
  position: relative;
  width: 587px;
  height: 847px;
  background-color: #646464;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
}

.screen .overlap {
  position: relative;
  width: 507px;
  height: 777px;
  top: 32px;
  left: 37px;
}

.screen .frame {
  position: absolute;
  width: 507px;
  height: 771px;
  top: 6px;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.screen .text-wrapper {
  position: absolute;
  top: 72px;
  left: 103px;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.4px;
  line-height: normal;
}

.screen .div {
  position: absolute;
  width: 447px;
  height: 230px;
  top: 174px;
  left: 29px;
  background-color: #c7ffd1;
  border: 1px solid;
  border-color: #000000;
}

.screen .element-wrapper {
  position: absolute;
  width: 168px;
  height: 229px;
  top: 1px;
  left: 56px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .element {
  position: absolute;
  width: 137px;
  height: 181px;
  top: 24px;
  left: 15px;
  object-fit: cover;
}

.screen .text-wrapper-2 {
  width: 30px;
  top: 50px;
  left: 13px;
  font-size: 24px;
  letter-spacing: 1.2px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-2 {
  position: absolute;
  width: 74px;
  height: 229px;
  top: 1px;
  left: 224px;
  background-color: #c7ffd1;
  border: 1px solid;
  border-color: #000000;
}

.screen .div-wrapper {
  position: absolute;
  width: 74px;
  height: 57px;
  top: 1px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-3 {
  top: 18px;
  left: 23px;
  font-size: 16px;
  letter-spacing: 0.8px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-3 {
  position: absolute;
  width: 74px;
  height: 59px;
  top: 170px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-4 {
  top: 19px;
  left: 10px;
  font-size: 16px;
  letter-spacing: 0.8px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-4 {
  position: absolute;
  width: 74px;
  height: 57px;
  top: 58px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-5 {
  top: 18px;
  left: 22px;
  font-size: 16px;
  letter-spacing: 0.8px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-5 {
  position: absolute;
  width: 74px;
  height: 55px;
  top: 115px;
  left: 0;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-6 {
  top: 17px;
  left: 9px;
  font-size: 16px;
  letter-spacing: 0.8px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-6 {
  width: 149px;
  height: 59px;
  top: 0;
  left: 298px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-7 {
  top: 18px;
  left: 53px;
  font-size: 16px;
  letter-spacing: 0.8px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .overlap-group {
  position: absolute;
  width: 149px;
  height: 113px;
  top: 59px;
  left: 298px;
}

.screen .frame-7 {
  position: absolute;
  width: 149px;
  height: 57px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-8 {
  top: 18px;
  left: 40px;
  font-size: 16px;
  letter-spacing: 0.8px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-8 {
  width: 149px;
  height: 57px;
  top: 56px;
  left: 0;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-9 {
  top: 18px;
  left: 48px;
  font-size: 16px;
  letter-spacing: 0.8px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-9 {
  width: 149px;
  height: 58px;
  top: 172px;
  left: 298px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-10 {
  top: 18px;
  left: 31px;
  font-size: 16px;
  letter-spacing: 0.8px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-10 {
  height: 230px;
  top: 469px;
  left: 29px;
  position: absolute;
  width: 447px;
  background-color: #c7ffd1;
  border: 1px solid;
  border-color: #000000;
}

.screen .frame-11 {
  position: absolute;
  width: 74px;
  height: 230px;
  top: 0;
  left: 0;
  background-color: #c7ffd1;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-11 {
  top: 21px;
  left: 14px;
  font-size: 10px;
  letter-spacing: 0.5px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .text-wrapper-12 {
  top: 22px;
  left: 9px;
  font-size: 10px;
  letter-spacing: 0.5px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .text-wrapper-13 {
  top: 21px;
  left: 9px;
  font-size: 10px;
  letter-spacing: 0.5px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .text-wrapper-14 {
  top: 20px;
  left: 5px;
  font-size: 10px;
  letter-spacing: 0.5px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-12 {
  width: 373px;
  height: 57px;
  top: 1px;
  left: 74px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-15 {
  top: 20px;
  left: 132px;
  font-size: 13px;
  letter-spacing: 0.65px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .overlap-2 {
  position: absolute;
  width: 373px;
  height: 112px;
  top: 58px;
  left: 74px;
}

.screen .frame-13 {
  position: absolute;
  width: 373px;
  height: 58px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-16 {
  top: 20px;
  left: 163px;
  font-size: 13px;
  letter-spacing: 0.65px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-14 {
  width: 373px;
  height: 55px;
  top: 57px;
  left: 0;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-17 {
  top: 18px;
  left: 168px;
  font-size: 13px;
  letter-spacing: 0.65px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-15 {
  width: 373px;
  height: 60px;
  top: 170px;
  left: 74px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-18 {
  top: 22px;
  left: 133px;
  font-size: 13px;
  letter-spacing: 0.65px;
  position: absolute;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.screen .frame-16 {
  position: absolute;
  width: 235px;
  height: 29px;
  top: 3px;
  left: 136px;
  background-color: #73c2be;
  border-radius: 10px;
  border: 3px solid;
  border-color: #000000;
}

.screen .frame-17 {
  position: absolute;
  width: 235px;
  height: 35px;
  top: 0;
  left: 136px;
  background-color: #73c2be;
  border-radius: 10px;
}

.screen .frame-18 {
  height: 170px;
  top: 301px;
  left: 815px;
  position: absolute;
  width: 447px;
  background-color: #c7ffd1;
  border: 1px solid;
  border-color: #000000;
}

.screen .frame-19 {
  position: absolute;
  width: 74px;
  height: 170px;
  top: 0;
  left: 0;
  background-color: #c7ffd1;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-19 {
  position: absolute;
  top: 21px;
  left: 19px;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: normal;
}

.screen .text-wrapper-20 {
  position: absolute;
  top: 21px;
  left: 22px;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: normal;
}

.screen .text-wrapper-21 {
  position: absolute;
  top: 20px;
  left: 19px;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: normal;
}

.screen .overlap-3 {
  position: absolute;
  width: 373px;
  height: 114px;
  top: 1px;
  left: 74px;
}

.screen .text-wrapper-22 {
  position: absolute;
  top: 20px;
  left: 19px;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.65px;
  line-height: normal;
}

.screen .frame-20 {
  position: absolute;
  width: 373px;
  height: 58px;
  top: 56px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-23 {
  position: absolute;
  top: 20px;
  left: 148px;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.65px;
  line-height: normal;
}

.screen .frame-21 {
  width: 373px;
  height: 54px;
  top: 115px;
  left: 74px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-24 {
  position: absolute;
  top: 18px;
  left: 108px;
  font-family: "Jua", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.65px;
  line-height: normal;
}
